.header {
  background-color: #DAFDE5;

}

header{
  color: #1352DE;
  text-align: center;
}

.navspan{
  font-size: 1.8rem;
  background-color: #1352DE;
  color: #DAFDE5;
}

.navlist{
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.3rem;
}

.nav-link{
  color: #1352DE;
}

footer {
  background-color: #DAFDE5;
  font-size: 0.8rem;
  text-align: center;
  color: #1352DE;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.footerList{
  list-style: none;
}
body{
  padding-top: 90px;
}

.card{
  border-color: #DAFDE5;
}

.card-img{
  width: 200px;
  height: 200px;
}

.card-title{
  text-align: center;
}


/* Pour écrans Moyens (tablettes / ordinateurs portables) */ 

@media only screen and (min-width: 768px){
  .navlist{
    flex-direction: row;
    font-size: 1.3rem;
  }
  .navspan{
    font-size: 1.8rem;
  }
  .card-title{
    text-align: start;
  }
  

}


/* Pour écrans Grands (ordinateurs fixes) */ 
@media only screen and (min-width: 1024px){
  .navlist{
      font-size: 1.5rem;
  }
  .navspan{
    font-size: 2rem;
  }


}